<form method="POST">
    <label>Question:</label><br>
    <input type="text" name="question"><br><br>
    
    <label>Option A:</label><br>
    <input type="text" name="option_a"><br>
    
    <label>Option B:</label><br>
    <input type="text" name="option_b"><br>
    
    <label>Option C:</label><br>
    <input type="text" name="option_c"><br>
    
    <label>Option D:</label><br>
    <input type="text" name="option_d"><br>
    
    <label>Correct Option (A/B/C/D):</label><br>
    <input type="text" name="correct_option"><br><br>
    
    <input type="submit" value="Add Question">
</form>
